* {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
}

#screenMain {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 150px;
    width: 460px;
    color: #595758;
    background-color: white;
    border: 5px solid #595758;
    border-radius: 10px;
    font-size: 40px;
}
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buttons button {
    background-color: white;
    border: 5px solid #F2F7F2;
    margin: 5px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.buttons button:hover {
    background-color: #F2F7F2;
    cursor: pointer;
    transform: scale(1.05);
}